@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;

  body {

    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif !important;

    .bg-secondary {

      background-color: #d6d4d4 !important;

    }

    a:hover {

      h5 {

        text-decoration: underline !important;

      }

      h6 {

        text-decoration: underline;

      }

    }

    .scroll-to-top {

      position: fixed;
      bottom: 0%;
      right: 0%;
      margin: 20px;
      transition: .4s ease-in;
      transform: translateY(100px);
      z-index: 1;

      &.show {

        transform: translateY(0);

      }

    }

    h1, h2, h3, h4, h5, h6 {

      line-height: normal;

    }

    // navbar

    nav {

      overflow: hidden;

      .container {

        display: flex;
        align-items: center !important;
        height: 100%;

        .navbar-brand {

          font-family: 'Darumadrop One', cursive !important;
          font-size: 1.4rem;
          padding-bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #14449c;

        }

        .collapse {

          .navbar-nav {

            .nav-link {

              font-size: .9rem;
              padding: 0 !important;
              font-weight: 300;
              letter-spacing: .5px;
              color: #FFFFFF !important;
              position: relative;

              &::after {

                position: absolute;
                content: '';
                bottom: 0%;
                left: 0%;
                transition: .3s ease-in;
                height: 2px;
                width: 0%;
                background-color: #0D6EFD;

              }

              &.active {
                color: #0D6EFD !important;

                &::after {

                  width: 100%;

                }

              }

              &:hover {

                color: #0D6EFD !important;

                &::after {

                  width: 100%;

                }

              }

            }

          }

        }

      }

    }


    main {
      .container{
        .row{
          .col-md-6 {
            div {
              position: relative;

              &:hover {

                .title_box {

                  h2 {
                    text-decoration: underline;
                  }

                }

              }

              .img_box {
                z-index: -1;
                position: relative;

                .tag {

                  top: 0%;
                  position: absolute;
                  margin: 20px;
                  padding: 5px 20px;
                  border-radius: 5px;

                }
              }
            }

            #PoliticsElement {

              .img_box {
                height: 200px;
                overflow: hidden;
              }

            }

            #currentNewsFeed {

              a:hover {

                h3 {

                  text-decoration: underline;

                }

              }

            }
          }
        }
      }
    }

  }
}